<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
				 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>

	<appSettings>
		<add key="User:Alice" value="Teller"/>
		<add key="User:Bob" value="Assistant"/>
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="interception" switchValue="All">
				<listeners>
					<add name="interception"/>
				</listeners>
			</source>
			<source name="interception-updates" switchValue="All">
				<listeners>
					<add name="interception-updates"/>
				</listeners>
			</source>
			<source name="interception-queries" switchValue="All">
				<listeners>
					<add name="interception-queries"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="interception" initializeData="interception.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<add name="interception-updates" initializeData="interception-updates.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<add name="interception-queries" initializeData="interception-queries.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sharedListeners>
	</system.diagnostics>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="UnityDemo"/>
		<namespace name="UnityDemo"/>
		<namespace name="UnityDemo.BusinessLogic"/>
		<namespace name="System.Diagnostics"/>

		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
		<container>
			<extension type="Interception"/>

			<interception>
				<policy name="policy-updates">
					<matchingRule name="updates-rule1" type="TypeMatchingRule">
						<constructor>
							<param name="typeName"
								   value="IBankAccount" />
						</constructor>
					</matchingRule>
					<matchingRule name="updates-rule2" type="MemberNameMatchingRule">
						<constructor>
							<param name="namesToMatch">
								<array type="string[]">
									<value value="Deposit" />
									<value value="Withdraw" />
								</array>
							</param>
						</constructor>
					</matchingRule>
					<callHandler name="updates-handler1"
								 type="TraceCallHandler">
						<lifetime type="singleton" />
						<constructor>
							<param name="source" dependencyName="interception-updates"/>
						</constructor>
					</callHandler>
				</policy>
				<policy name="policy-queries">
					<matchingRule name="queries-rule1" type="TypeMatchingRule">
						<constructor>
							<param name="typeName"
								   value="IBankAccount" />
						</constructor>
					</matchingRule>
					<matchingRule name="queries-rule2" type="MemberNameMatchingRule">
						<constructor>
							<param name="nameToMatch" value="GetCurrentBalance" />
						</constructor>
					</matchingRule>
					<callHandler name="queries-handler1"
								 type="TraceCallHandler">
						<lifetime type="singleton" />
						<constructor>
							<param name="source" dependencyName="interception-queries"/>
						</constructor>
					</callHandler>
				</policy>
				<policy name="policy-withdraw">
					<matchingRule name="withdraw-rule1" type="TypeMatchingRule">
						<constructor>
							<param name="typeName">
								<value value="IBankAccount" />
							</param>
						</constructor>
					</matchingRule>
					<matchingRule name="withdraw-rule2" type="MemberNameMatchingRule">
						<constructor>
							<param name="namesToMatch">
								<array type="string[]">
									<value value="Withdraw" />
								</array>
							</param>
						</constructor>
					</matchingRule>
					<callHandler name="withdraw-handler1"
								 type="AccessCheckCallHandler">
						<lifetime type="singleton" />
						<constructor>
							<param name="allowedRoles">
								<array type="string[]">
									<value value="Teller"/>
								</array>
							</param>
						</constructor>
					</callHandler>
				</policy>
			</interception>
			
			<register type="IBankAccount" mapTo="BankAccount">
				<interceptionBehavior type="PolicyInjectionBehavior"/>
				<interceptor type="InterfaceInterceptor"/>
			</register>

			<register type="TraceBehavior">
				<constructor>
					<param name="source" dependencyName="interception"/>
				</constructor>
			</register>
			
			<register type="TraceSource" name="interception">
				<constructor>
					<param name="name" value="interception"/>
				</constructor>
			</register>

			<register type="AmountValidationBehavior">
				<constructor>
					<param name="maxAmount" value="125" />
				</constructor>
			</register>

			<register name="interception-updates" type="TraceSource">
				<constructor>
					<param name="name" value="interception-updates" />
				</constructor>
			</register>
			
			<register name="interception-queries" type="TraceSource">
				<constructor>
					<param name="name" value="interception-queries" />
				</constructor>
			</register>

		</container>

	</unity>

</configuration>